body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16784 {
  position:absolute;
  left:225px;
  top:121px;
  width:800px;
  height:390px;
}
#u16785 {
  position:absolute;
  left:2px;
  top:187px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16786 {
  position:absolute;
  left:1005px;
  top:121px;
  width:20px;
  height:20px;
}
#u16787 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u16788 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u16789 {
  position:absolute;
  left:2px;
  top:27px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u16790 {
  position:absolute;
  left:20px;
  top:20px;
  width:402px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u16791 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  white-space:nowrap;
}
#u16792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16792 {
  position:absolute;
  left:225px;
  top:585px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16793 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u16794 {
  position:absolute;
  left:255px;
  top:587px;
  width:310px;
  height:16px;
  color:#660000;
}
#u16795 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u16796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16796 {
  position:absolute;
  left:225px;
  top:615px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16797 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u16798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u16798 {
  position:absolute;
  left:255px;
  top:617px;
  width:537px;
  height:48px;
  color:#660000;
}
#u16799 {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u16800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u16800 {
  position:absolute;
  left:551px;
  top:166px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u16801 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16802 {
  position:absolute;
  left:449px;
  top:240px;
  width:29px;
  height:16px;
}
#u16803 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16804 {
  position:absolute;
  left:449px;
  top:280px;
  width:43px;
  height:16px;
}
#u16805 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16806 {
  position:absolute;
  left:449px;
  top:320px;
  width:29px;
  height:16px;
}
#u16807 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16808 {
  position:absolute;
  left:502px;
  top:236px;
  width:300px;
  height:25px;
}
#u16808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16808_input {
  font-family:'应用字体';
}
#u16809 {
  position:absolute;
  left:502px;
  top:276px;
  width:300px;
  height:25px;
}
#u16809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16809_input {
  font-family:'应用字体';
}
#u16810 {
  position:absolute;
  left:502px;
  top:316px;
  width:300px;
  height:25px;
}
#u16810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16810_input {
  font-family:'应用字体';
}
#u16811 {
  position:absolute;
  left:539px;
  top:359px;
  width:100px;
  height:16px;
}
#u16812 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16811_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16813 {
  position:absolute;
  left:695px;
  top:359px;
  width:100px;
  height:16px;
}
#u16814 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16813_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16815 {
  position:absolute;
  left:502px;
  top:405px;
  width:300px;
  height:40px;
}
#u16816 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u16817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16817 {
  position:absolute;
  left:750px;
  top:415px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16818 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
