body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u19051 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u19052 {
  position:absolute;
  left:2px;
  top:27px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u19053 {
  position:absolute;
  left:20px;
  top:20px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u19054 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u19055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19055 {
  position:absolute;
  left:50px;
  top:843px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u19056 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u19057 {
  position:absolute;
  left:80px;
  top:845px;
  width:310px;
  height:16px;
  color:#660000;
}
#u19058 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u19059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19059 {
  position:absolute;
  left:50px;
  top:120px;
  width:1152px;
  height:647px;
}
#u19060 {
  position:absolute;
  left:2px;
  top:316px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1153px;
  height:2px;
}
#u19061 {
  position:absolute;
  left:50px;
  top:183px;
  width:1152px;
  height:1px;
}
#u19062 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u19063 {
  position:absolute;
  left:69px;
  top:131px;
  width:70px;
  height:42px;
}
#u19064 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u19065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u19065 {
  position:absolute;
  left:199px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19066 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u19067 {
  position:absolute;
  left:157px;
  top:120px;
  width:1px;
  height:63px;
}
#u19068 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u19069 {
  position:absolute;
  left:343px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19070 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u19071 {
  position:absolute;
  left:485px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19072 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u19073 {
  position:absolute;
  left:628px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19074 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u19075 {
  position:absolute;
  left:775px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19076 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19077 {
  position:absolute;
  left:50px;
  top:183px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u19078 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u19079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:585px;
}
#u19079 {
  position:absolute;
  left:179px;
  top:183px;
  width:1px;
  height:584px;
}
#u19080 {
  position:absolute;
  left:2px;
  top:284px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19081 {
  position:absolute;
  left:50px;
  top:232px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u19082 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u19083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19083 {
  position:absolute;
  left:50px;
  top:281px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u19084 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u19085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:2px;
}
#u19085 {
  position:absolute;
  left:180px;
  top:244px;
  width:1022px;
  height:1px;
}
#u19086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19087 {
  position:absolute;
  left:199px;
  top:206px;
  width:57px;
  height:16px;
}
#u19088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19089 {
  position:absolute;
  left:266px;
  top:202px;
  width:130px;
  height:25px;
}
#u19089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19089_input {
  font-family:'应用字体';
}
#u19090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19090 {
  position:absolute;
  left:619px;
  top:206px;
  width:57px;
  height:16px;
}
#u19091 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19092 {
  position:absolute;
  left:888px;
  top:195px;
  width:53px;
  height:40px;
}
#u19093 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u19094 {
  position:absolute;
  left:193px;
  top:261px;
  width:1001px;
  height:281px;
}
#u19095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19095 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19096 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19097 {
  position:absolute;
  left:70px;
  top:0px;
  width:230px;
  height:30px;
}
#u19098 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19099 {
  position:absolute;
  left:300px;
  top:0px;
  width:221px;
  height:30px;
}
#u19100 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19101 {
  position:absolute;
  left:521px;
  top:0px;
  width:155px;
  height:30px;
}
#u19102 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19103 {
  position:absolute;
  left:676px;
  top:0px;
  width:165px;
  height:30px;
}
#u19104 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19105 {
  position:absolute;
  left:841px;
  top:0px;
  width:155px;
  height:30px;
}
#u19106 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u19107 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:36px;
}
#u19108 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u19109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
}
#u19109 {
  position:absolute;
  left:70px;
  top:30px;
  width:230px;
  height:36px;
}
#u19110 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u19111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:36px;
}
#u19111 {
  position:absolute;
  left:300px;
  top:30px;
  width:221px;
  height:36px;
}
#u19112 {
  position:absolute;
  left:2px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u19113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u19113 {
  position:absolute;
  left:521px;
  top:30px;
  width:155px;
  height:36px;
}
#u19114 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u19115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u19115 {
  position:absolute;
  left:676px;
  top:30px;
  width:165px;
  height:36px;
}
#u19116 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u19117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u19117 {
  position:absolute;
  left:841px;
  top:30px;
  width:155px;
  height:36px;
}
#u19118 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u19119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19119 {
  position:absolute;
  left:0px;
  top:66px;
  width:70px;
  height:30px;
}
#u19120 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19121 {
  position:absolute;
  left:70px;
  top:66px;
  width:230px;
  height:30px;
}
#u19122 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19123 {
  position:absolute;
  left:300px;
  top:66px;
  width:221px;
  height:30px;
}
#u19124 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19125 {
  position:absolute;
  left:521px;
  top:66px;
  width:155px;
  height:30px;
}
#u19126 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19127 {
  position:absolute;
  left:676px;
  top:66px;
  width:165px;
  height:30px;
}
#u19128 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19129 {
  position:absolute;
  left:841px;
  top:66px;
  width:155px;
  height:30px;
}
#u19130 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19131 {
  position:absolute;
  left:0px;
  top:96px;
  width:70px;
  height:30px;
}
#u19132 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19133 {
  position:absolute;
  left:70px;
  top:96px;
  width:230px;
  height:30px;
}
#u19134 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19135 {
  position:absolute;
  left:300px;
  top:96px;
  width:221px;
  height:30px;
}
#u19136 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19137 {
  position:absolute;
  left:521px;
  top:96px;
  width:155px;
  height:30px;
}
#u19138 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19139 {
  position:absolute;
  left:676px;
  top:96px;
  width:165px;
  height:30px;
}
#u19140 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19141 {
  position:absolute;
  left:841px;
  top:96px;
  width:155px;
  height:30px;
}
#u19142 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19143 {
  position:absolute;
  left:0px;
  top:126px;
  width:70px;
  height:30px;
}
#u19144 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19145 {
  position:absolute;
  left:70px;
  top:126px;
  width:230px;
  height:30px;
}
#u19146 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19147 {
  position:absolute;
  left:300px;
  top:126px;
  width:221px;
  height:30px;
}
#u19148 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19149 {
  position:absolute;
  left:521px;
  top:126px;
  width:155px;
  height:30px;
}
#u19150 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19151 {
  position:absolute;
  left:676px;
  top:126px;
  width:165px;
  height:30px;
}
#u19152 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19153 {
  position:absolute;
  left:841px;
  top:126px;
  width:155px;
  height:30px;
}
#u19154 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19155 {
  position:absolute;
  left:0px;
  top:156px;
  width:70px;
  height:30px;
}
#u19156 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19157 {
  position:absolute;
  left:70px;
  top:156px;
  width:230px;
  height:30px;
}
#u19158 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19159 {
  position:absolute;
  left:300px;
  top:156px;
  width:221px;
  height:30px;
}
#u19160 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19161 {
  position:absolute;
  left:521px;
  top:156px;
  width:155px;
  height:30px;
}
#u19162 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19163 {
  position:absolute;
  left:676px;
  top:156px;
  width:165px;
  height:30px;
}
#u19164 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19165 {
  position:absolute;
  left:841px;
  top:156px;
  width:155px;
  height:30px;
}
#u19166 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19167 {
  position:absolute;
  left:0px;
  top:186px;
  width:70px;
  height:30px;
}
#u19168 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19169 {
  position:absolute;
  left:70px;
  top:186px;
  width:230px;
  height:30px;
}
#u19170 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19171 {
  position:absolute;
  left:300px;
  top:186px;
  width:221px;
  height:30px;
}
#u19172 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19173 {
  position:absolute;
  left:521px;
  top:186px;
  width:155px;
  height:30px;
}
#u19174 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19175 {
  position:absolute;
  left:676px;
  top:186px;
  width:165px;
  height:30px;
}
#u19176 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19177 {
  position:absolute;
  left:841px;
  top:186px;
  width:155px;
  height:30px;
}
#u19178 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19179 {
  position:absolute;
  left:0px;
  top:216px;
  width:70px;
  height:30px;
}
#u19180 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19181 {
  position:absolute;
  left:70px;
  top:216px;
  width:230px;
  height:30px;
}
#u19182 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19183 {
  position:absolute;
  left:300px;
  top:216px;
  width:221px;
  height:30px;
}
#u19184 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19185 {
  position:absolute;
  left:521px;
  top:216px;
  width:155px;
  height:30px;
}
#u19186 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19187 {
  position:absolute;
  left:676px;
  top:216px;
  width:165px;
  height:30px;
}
#u19188 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19189 {
  position:absolute;
  left:841px;
  top:216px;
  width:155px;
  height:30px;
}
#u19190 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u19191 {
  position:absolute;
  left:0px;
  top:246px;
  width:70px;
  height:30px;
}
#u19192 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19193 {
  position:absolute;
  left:70px;
  top:246px;
  width:230px;
  height:30px;
}
#u19194 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u19195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u19195 {
  position:absolute;
  left:300px;
  top:246px;
  width:221px;
  height:30px;
}
#u19196 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u19197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19197 {
  position:absolute;
  left:521px;
  top:246px;
  width:155px;
  height:30px;
}
#u19198 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u19199 {
  position:absolute;
  left:676px;
  top:246px;
  width:165px;
  height:30px;
}
#u19200 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u19201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u19201 {
  position:absolute;
  left:841px;
  top:246px;
  width:155px;
  height:30px;
}
#u19202 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19204 {
  position:absolute;
  left:686px;
  top:202px;
  width:69px;
  height:25px;
}
#u19204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19204_input {
  font-family:'应用字体';
}
#u19205 {
  position:absolute;
  left:789px;
  top:202px;
  width:69px;
  height:25px;
}
#u19205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19205_input {
  font-family:'应用字体';
}
#u19206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u19206 {
  position:absolute;
  left:755px;
  top:214px;
  width:34px;
  height:1px;
}
#u19207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19208 {
  position:absolute;
  left:438px;
  top:207px;
  width:57px;
  height:16px;
}
#u19209 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19210 {
  position:absolute;
  left:505px;
  top:204px;
  width:71px;
  height:22px;
}
#u19210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19210_input {
  font-family:'应用字体';
}
#u19210_input:disabled {
  color:grayText;
}
#u19211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:2px;
}
#u19211 {
  position:absolute;
  left:179px;
  top:715px;
  width:1022px;
  height:1px;
}
#u19212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19213 {
  position:absolute;
  left:199px;
  top:733px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19214 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u19215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19215 {
  position:absolute;
  left:533px;
  top:733px;
  width:139px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19216 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u19217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19217 {
  position:absolute;
  left:728px;
  top:733px;
  width:135px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19218 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u19219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19219 {
  position:absolute;
  left:345px;
  top:731px;
  width:131px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19220 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u19221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19221 {
  position:absolute;
  left:1127px;
  top:721px;
  width:53px;
  height:40px;
}
#u19222 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u19223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19223 {
  position:absolute;
  left:920px;
  top:731px;
  width:142px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19224 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
