body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13387 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13388 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u13389 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u13390 {
  position:absolute;
  left:30px;
  top:24px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u13391 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13392 {
  position:absolute;
  left:50px;
  top:120px;
  width:1024px;
  height:768px;
}
#u13393 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13394 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:300px;
}
#u13395 {
  position:absolute;
  left:2px;
  top:142px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13396 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13397 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u13398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13398 {
  position:absolute;
  left:50px;
  top:154px;
  width:150px;
  height:35px;
}
#u13399 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u13400 {
  position:absolute;
  left:199px;
  top:120px;
  width:1px;
  height:768px;
}
#u13401 {
  position:absolute;
  left:2px;
  top:376px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13402 {
  position:absolute;
  left:50px;
  top:188px;
  width:150px;
  height:35px;
}
#u13403 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13404 {
  position:absolute;
  left:50px;
  top:222px;
  width:150px;
  height:35px;
}
#u13405 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:2px;
}
#u13406 {
  position:absolute;
  left:200px;
  top:164px;
  width:874px;
  height:1px;
}
#u13407 {
  position:absolute;
  left:2px;
  top:-8px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13408 {
  position:absolute;
  left:215px;
  top:133px;
  width:141px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13409 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u13410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13410 {
  position:absolute;
  left:358px;
  top:242px;
  width:205px;
  height:16px;
}
#u13411 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u13412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13412 {
  position:absolute;
  left:358px;
  top:216px;
  width:179px;
  height:16px;
}
#u13413 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u13414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13414 {
  position:absolute;
  left:676px;
  top:269px;
  width:135px;
  height:16px;
}
#u13415 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u13416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13416 {
  position:absolute;
  left:358px;
  top:269px;
  width:125px;
  height:16px;
}
#u13417 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u13418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13418 {
  position:absolute;
  left:326px;
  top:188px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u13419 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13420 {
  position:absolute;
  left:358px;
  top:293px;
  width:81px;
  height:16px;
}
#u13421 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13422 {
  position:absolute;
  left:676px;
  top:242px;
  width:105px;
  height:16px;
}
#u13423 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13424 {
  position:absolute;
  left:326px;
  top:485px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u13425 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13426 {
  position:absolute;
  left:358px;
  top:354px;
  width:105px;
  height:16px;
}
#u13427 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13428 {
  position:absolute;
  left:326px;
  top:322px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u13429 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13430 {
  position:absolute;
  left:358px;
  top:380px;
  width:102px;
  height:16px;
}
#u13431 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u13432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13432 {
  position:absolute;
  left:383px;
  top:406px;
  width:91px;
  height:16px;
}
#u13433 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13434 {
  position:absolute;
  left:676px;
  top:380px;
  width:105px;
  height:16px;
}
#u13435 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13436 {
  position:absolute;
  left:383px;
  top:456px;
  width:98px;
  height:16px;
}
#u13437 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u13438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13438 {
  position:absolute;
  left:383px;
  top:430px;
  width:91px;
  height:16px;
}
#u13439 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13440 {
  position:absolute;
  left:676px;
  top:404px;
  width:115px;
  height:19px;
}
#u13441 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u13442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13442 {
  position:absolute;
  left:676px;
  top:432px;
  width:105px;
  height:16px;
}
#u13443 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13444 {
  position:absolute;
  left:676px;
  top:216px;
  width:188px;
  height:16px;
}
#u13445 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u13446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13446 {
  position:absolute;
  left:358px;
  top:575px;
  width:71px;
  height:16px;
  text-align:right;
}
#u13447 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13448 {
  position:absolute;
  left:432px;
  top:571px;
  width:230px;
  height:25px;
}
#u13449 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13450 {
  position:absolute;
  left:669px;
  top:575px;
  width:14px;
  height:16px;
}
#u13451 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u13452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13452 {
  position:absolute;
  left:358px;
  top:610px;
  width:71px;
  height:16px;
  text-align:right;
}
#u13453 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13454 {
  position:absolute;
  left:432px;
  top:606px;
  width:230px;
  height:25px;
}
#u13455 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13456 {
  position:absolute;
  left:363px;
  top:645px;
  width:66px;
  height:16px;
  text-align:right;
}
#u13457 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13459 {
  position:absolute;
  left:432px;
  top:641px;
  width:230px;
  height:85px;
}
#u13460 {
  position:absolute;
  left:2px;
  top:34px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13461 {
  position:absolute;
  left:629px;
  top:710px;
  width:33px;
  height:16px;
  text-align:right;
}
#u13462 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13463 {
  position:absolute;
  left:403px;
  top:750px;
  width:100px;
  height:30px;
}
#u13464 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13465 {
  position:absolute;
  left:533px;
  top:750px;
  width:100px;
  height:30px;
}
#u13466 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13467 {
  position:absolute;
  left:358px;
  top:519px;
  width:425px;
  height:32px;
}
#u13468 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u13469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u13469 {
  position:absolute;
  left:1129px;
  top:594px;
  width:294px;
  height:48px;
  color:#660000;
}
#u13470 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u13471_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:449px;
  height:21px;
}
#u13471p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:441px;
  height:1px;
}
#u13471p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:452px;
  height:22px;
}
#u13471p001 {
  position:absolute;
  left:426px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13471p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u13471.compound {
  width:0px;
  height:0px;
}
#u13471 {
  position:absolute;
  left:693px;
  top:618px;
  width:439px;
  height:1px;
}
#u13472 {
  position:absolute;
  left:2px;
  top:-8px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
