body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u9945 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u9946 {
  position:absolute;
  left:30px;
  top:24px;
  width:177px;
  height:33px;
  font-size:28px;
}
#u9947 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u9948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9948 {
  position:absolute;
  left:50px;
  top:120px;
  width:1024px;
  height:768px;
}
#u9949 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9950 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:300px;
}
#u9951 {
  position:absolute;
  left:2px;
  top:142px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9952 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9953 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9954 {
  position:absolute;
  left:50px;
  top:154px;
  width:150px;
  height:35px;
}
#u9955 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:2px;
}
#u9956 {
  position:absolute;
  left:200px;
  top:165px;
  width:874px;
  height:1px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u9958 {
  position:absolute;
  left:199px;
  top:120px;
  width:1px;
  height:768px;
}
#u9959 {
  position:absolute;
  left:2px;
  top:376px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9960 {
  position:absolute;
  left:215px;
  top:133px;
  width:141px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9961 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9962 {
  position:absolute;
  left:395px;
  top:204px;
  width:71px;
  height:16px;
  text-align:right;
}
#u9963 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9965 {
  position:absolute;
  left:469px;
  top:200px;
  width:199px;
  height:25px;
}
#u9965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9965_input {
  font-family:'应用字体';
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u9966 {
  position:absolute;
  left:642px;
  top:209px;
  width:26px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u9967 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9968 {
  position:absolute;
  left:395px;
  top:325px;
  width:71px;
  height:16px;
  text-align:right;
}
#u9969 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9970 {
  position:absolute;
  left:395px;
  top:288px;
  width:71px;
  height:16px;
  text-align:right;
}
#u9971 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9972 {
  position:absolute;
  left:400px;
  top:401px;
  width:66px;
  height:16px;
  text-align:right;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9974 {
  position:absolute;
  left:426px;
  top:488px;
  width:40px;
  height:16px;
  text-align:right;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u9976 {
  position:absolute;
  left:469px;
  top:478px;
  width:35px;
  height:35px;
  font-size:28px;
}
#u9977 {
  position:absolute;
  left:2px;
  top:1px;
  width:31px;
  word-wrap:break-word;
}
#u9978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9978 {
  position:absolute;
  left:426px;
  top:601px;
  width:40px;
  height:16px;
  text-align:right;
}
#u9979 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u9981 {
  position:absolute;
  left:469px;
  top:601px;
  width:199px;
  height:53px;
  color:#999999;
  text-align:left;
}
#u9982 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u9983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9983 {
  position:absolute;
  left:642px;
  top:638px;
  width:26px;
  height:16px;
  color:#999999;
}
#u9984 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u9985 {
  position:absolute;
  left:469px;
  top:325px;
  width:80px;
  height:16px;
}
#u9986 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9985_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9987 {
  position:absolute;
  left:559px;
  top:325px;
  width:80px;
  height:16px;
}
#u9988 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9987_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9989 {
  position:absolute;
  left:230px;
  top:174px;
  width:97px;
  height:16px;
}
#u9990 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u9991 {
  position:absolute;
  left:395px;
  top:247px;
  width:71px;
  height:16px;
  text-align:right;
}
#u9992 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9994 {
  position:absolute;
  left:469px;
  top:243px;
  width:199px;
  height:25px;
}
#u9994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9994_input {
  font-family:'应用字体';
}
#u9995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u9995 {
  position:absolute;
  left:642px;
  top:252px;
  width:26px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u9996 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u9997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u9997 {
  position:absolute;
  left:679px;
  top:204px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u9998 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9999 {
  position:absolute;
  left:400px;
  top:678px;
  width:80px;
  height:30px;
}
#u10000 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10001 {
  position:absolute;
  left:514px;
  top:678px;
  width:80px;
  height:30px;
}
#u10002 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10003 {
  position:absolute;
  left:629px;
  top:678px;
  width:80px;
  height:30px;
}
#u10004 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10005 {
  position:absolute;
  left:421px;
  top:444px;
  width:45px;
  height:16px;
  text-align:right;
}
#u10006 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10007 {
  position:absolute;
  left:469px;
  top:439px;
  width:80px;
  height:25px;
}
#u10007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10007_input {
  font-family:'应用字体';
}
#u10008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10008 {
  position:absolute;
  left:567px;
  top:444px;
  width:53px;
  height:16px;
  text-align:right;
}
#u10009 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10010 {
  position:absolute;
  left:623px;
  top:439px;
  width:80px;
  height:25px;
}
#u10010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10010_input {
  font-family:'应用字体';
}
#u10011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10011 {
  position:absolute;
  left:1097px;
  top:170px;
  width:823px;
  height:112px;
  color:#660000;
}
#u10012 {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  word-wrap:break-word;
}
#u10013_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:375px;
  height:21px;
}
#u10013p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:367px;
  height:1px;
}
#u10013p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:378px;
  height:22px;
}
#u10013p001 {
  position:absolute;
  left:352px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10013p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u10013.compound {
  width:0px;
  height:0px;
}
#u10013 {
  position:absolute;
  left:732px;
  top:212px;
  width:365px;
  height:1px;
}
#u10014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10015 {
  position:absolute;
  left:1097px;
  top:661px;
  width:333px;
  height:64px;
  color:#660000;
}
#u10016 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:398px;
  height:21px;
}
#u10017p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:390px;
  height:1px;
}
#u10017p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:400px;
  height:22px;
}
#u10017p001 {
  position:absolute;
  left:375px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10017p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u10017.compound {
  width:0px;
  height:0px;
}
#u10017 {
  position:absolute;
  left:709px;
  top:693px;
  width:388px;
  height:1px;
}
#u10018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10019 {
  position:absolute;
  left:1097px;
  top:325px;
  width:456px;
  height:32px;
  color:#660000;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u10021_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:478px;
  height:21px;
}
#u10021p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:470px;
  height:1px;
}
#u10021p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:480px;
  height:22px;
}
#u10021p001 {
  position:absolute;
  left:455px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10021p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u10021.compound {
  width:0px;
  height:0px;
}
#u10021 {
  position:absolute;
  left:629px;
  top:333px;
  width:468px;
  height:1px;
}
#u10022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10023 {
  position:absolute;
  left:1097px;
  top:494px;
  width:550px;
  height:16px;
  color:#660000;
}
#u10024 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  white-space:nowrap;
}
#u10025_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:607px;
  height:21px;
}
#u10025p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:599px;
  height:1px;
}
#u10025p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:610px;
  height:22px;
}
#u10025p001 {
  position:absolute;
  left:584px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10025p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u10025.compound {
  width:0px;
  height:0px;
}
#u10025 {
  position:absolute;
  left:500px;
  top:502px;
  width:597px;
  height:1px;
}
#u10026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u10028 {
  position:absolute;
  left:1270px;
  top:513px;
  width:70px;
  height:70px;
}
#u10029 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10030 {
  position:absolute;
  left:1276px;
  top:569px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u10031 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10032 {
  position:absolute;
  left:1311px;
  top:569px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u10033 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10034 {
  position:absolute;
  left:400px;
  top:360px;
  width:66px;
  height:16px;
  text-align:right;
}
#u10035 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10037 {
  position:absolute;
  left:469px;
  top:356px;
  width:199px;
  height:25px;
}
#u10037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10037_input {
  font-family:'应用字体';
}
#u10038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u10038 {
  position:absolute;
  left:642px;
  top:364px;
  width:26px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u10039 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u10040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10041 {
  position:absolute;
  left:466px;
  top:398px;
  width:199px;
  height:25px;
}
#u10041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10041_input {
  font-family:'应用字体';
}
#u10042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u10042 {
  position:absolute;
  left:646px;
  top:406px;
  width:19px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u10043 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u10044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10044 {
  position:absolute;
  left:426px;
  top:527px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10045 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10047 {
  position:absolute;
  left:469px;
  top:523px;
  width:199px;
  height:25px;
}
#u10047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10047_input {
  font-family:'应用字体';
}
#u10048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u10048 {
  position:absolute;
  left:642px;
  top:531px;
  width:26px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u10049 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u10050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10050 {
  position:absolute;
  left:426px;
  top:565px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10051 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10053 {
  position:absolute;
  left:469px;
  top:561px;
  width:199px;
  height:25px;
}
#u10053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10053_input {
  font-family:'应用字体';
}
#u10054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u10054 {
  position:absolute;
  left:642px;
  top:569px;
  width:26px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u10055 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u10056 {
  position:absolute;
  left:469px;
  top:284px;
  width:199px;
  height:25px;
}
#u10056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10056_input {
  font-family:'应用字体';
}
#u10056_input:disabled {
  color:grayText;
}
#u10057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10057 {
  position:absolute;
  left:50px;
  top:188px;
  width:150px;
  height:35px;
}
#u10058 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10059 {
  position:absolute;
  left:50px;
  top:222px;
  width:150px;
  height:35px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10061 {
  position:absolute;
  left:1097px;
  top:135px;
  width:320px;
  height:16px;
  color:#660000;
}
#u10062 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:751px;
  height:21px;
}
#u10063p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:743px;
  height:1px;
}
#u10063p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:754px;
  height:22px;
}
#u10063p001 {
  position:absolute;
  left:728px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10063p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u10063.compound {
  width:0px;
  height:0px;
}
#u10063 {
  position:absolute;
  left:356px;
  top:143px;
  width:741px;
  height:1px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:737px;
  visibility:hidden;
  word-wrap:break-word;
}
