body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1636px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10697 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u10698 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10699 {
  position:absolute;
  left:30px;
  top:24px;
  width:177px;
  height:33px;
  font-size:28px;
}
#u10700 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u10701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10701 {
  position:absolute;
  left:50px;
  top:120px;
  width:1024px;
  height:768px;
}
#u10702 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:2px;
}
#u10703 {
  position:absolute;
  left:200px;
  top:164px;
  width:874px;
  height:1px;
}
#u10704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10705 {
  position:absolute;
  left:215px;
  top:133px;
  width:141px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10706 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u10707 {
  position:absolute;
  left:199px;
  top:120px;
  width:1px;
  height:768px;
}
#u10708 {
  position:absolute;
  left:2px;
  top:376px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10709 {
  position:absolute;
  left:230px;
  top:174px;
  width:97px;
  height:16px;
}
#u10710 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10712 {
  position:absolute;
  left:447px;
  top:232px;
  width:45px;
  height:16px;
  text-align:right;
}
#u10713 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10714 {
  position:absolute;
  left:496px;
  top:227px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10715 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10716 {
  position:absolute;
  left:397px;
  top:460px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10717 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10718 {
  position:absolute;
  left:397px;
  top:200px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10719 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10721 {
  position:absolute;
  left:434px;
  top:270px;
  width:58px;
  height:16px;
  text-align:right;
}
#u10722 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u10723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10723 {
  position:absolute;
  left:496px;
  top:265px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10724 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10726 {
  position:absolute;
  left:426px;
  top:307px;
  width:66px;
  height:16px;
  text-align:right;
}
#u10727 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10728 {
  position:absolute;
  left:496px;
  top:302px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10729 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10731 {
  position:absolute;
  left:452px;
  top:345px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10732 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10733 {
  position:absolute;
  left:496px;
  top:345px;
  width:100px;
  height:16px;
}
#u10734 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10733_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10735 {
  position:absolute;
  left:596px;
  top:345px;
  width:100px;
  height:16px;
}
#u10736 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10735_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10738 {
  position:absolute;
  left:452px;
  top:380px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10739 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10740 {
  position:absolute;
  left:496px;
  top:377px;
  width:74px;
  height:22px;
}
#u10740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10740_input {
  font-family:'应用字体';
}
#u10740_input:disabled {
  color:grayText;
}
#u10741 {
  position:absolute;
  left:588px;
  top:377px;
  width:74px;
  height:22px;
}
#u10741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10741_input {
  font-family:'应用字体';
}
#u10741_input:disabled {
  color:grayText;
}
#u10742 {
  position:absolute;
  left:680px;
  top:377px;
  width:74px;
  height:22px;
}
#u10742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10742_input {
  font-family:'应用字体';
}
#u10742_input:disabled {
  color:grayText;
}
#u10743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10743 {
  position:absolute;
  left:496px;
  top:409px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10744 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u10745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u10745 {
  position:absolute;
  left:787px;
  top:420px;
  width:28px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u10746 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u10747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10748 {
  position:absolute;
  left:452px;
  top:495px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10749 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10750 {
  position:absolute;
  left:496px;
  top:490px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10751 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10753 {
  position:absolute;
  left:452px;
  top:533px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10754 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10755 {
  position:absolute;
  left:496px;
  top:528px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10756 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10758 {
  position:absolute;
  left:447px;
  top:612px;
  width:45px;
  height:16px;
  text-align:right;
}
#u10759 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10760 {
  position:absolute;
  left:496px;
  top:609px;
  width:320px;
  height:22px;
}
#u10760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10760_input {
  font-family:'应用字体';
}
#u10760_input:disabled {
  color:grayText;
}
#u10761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10761 {
  position:absolute;
  left:397px;
  top:580px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10762 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10764 {
  position:absolute;
  left:452px;
  top:650px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10765 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10766 {
  position:absolute;
  left:496px;
  top:645px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10767 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u10769 {
  position:absolute;
  left:452px;
  top:690px;
  width:40px;
  height:16px;
  text-align:right;
}
#u10770 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u10771 {
  position:absolute;
  left:496px;
  top:685px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u10772 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10773 {
  position:absolute;
  left:549px;
  top:750px;
  width:80px;
  height:30px;
}
#u10774 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10775 {
  position:absolute;
  left:663px;
  top:750px;
  width:80px;
  height:30px;
}
#u10776 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10777 {
  position:absolute;
  left:1097px;
  top:135px;
  width:320px;
  height:16px;
  color:#660000;
}
#u10778 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u10779_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:751px;
  height:21px;
}
#u10779p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:743px;
  height:1px;
}
#u10779p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:754px;
  height:22px;
}
#u10779p001 {
  position:absolute;
  left:728px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10779p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u10779.compound {
  width:0px;
  height:0px;
}
#u10779 {
  position:absolute;
  left:356px;
  top:143px;
  width:741px;
  height:1px;
}
#u10780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:737px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u10781 {
  position:absolute;
  left:1097px;
  top:300px;
  width:539px;
  height:48px;
  color:#660000;
}
#u10782 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  white-space:nowrap;
}
#u10783_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:267px;
  height:21px;
}
#u10783p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:259px;
  height:1px;
}
#u10783p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:270px;
  height:22px;
}
#u10783p001 {
  position:absolute;
  left:244px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10783p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u10783.compound {
  width:0px;
  height:0px;
}
#u10783 {
  position:absolute;
  left:840px;
  top:308px;
  width:257px;
  height:1px;
}
#u10784 {
  position:absolute;
  left:2px;
  top:-8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10785 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:300px;
}
#u10786 {
  position:absolute;
  left:2px;
  top:142px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10787 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10788 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u10789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10789 {
  position:absolute;
  left:50px;
  top:154px;
  width:150px;
  height:35px;
}
#u10790 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10791 {
  position:absolute;
  left:50px;
  top:188px;
  width:150px;
  height:35px;
}
#u10792 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10793 {
  position:absolute;
  left:50px;
  top:222px;
  width:150px;
  height:35px;
}
#u10794 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10795 {
  position:absolute;
  left:50px;
  top:256px;
  width:150px;
  height:35px;
}
#u10796 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10797 {
  position:absolute;
  left:50px;
  top:290px;
  width:150px;
  height:35px;
}
#u10798 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
