body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18229 {
  position:absolute;
  left:50px;
  top:120px;
  width:1152px;
  height:647px;
}
#u18230 {
  position:absolute;
  left:2px;
  top:316px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u18231 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u18232 {
  position:absolute;
  left:2px;
  top:27px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18233 {
  position:absolute;
  left:20px;
  top:20px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18234 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u18235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18235 {
  position:absolute;
  left:50px;
  top:822px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u18236 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u18237 {
  position:absolute;
  left:80px;
  top:824px;
  width:310px;
  height:16px;
  color:#660000;
}
#u18238 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u18239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1153px;
  height:2px;
}
#u18239 {
  position:absolute;
  left:50px;
  top:183px;
  width:1152px;
  height:1px;
}
#u18240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u18241 {
  position:absolute;
  left:69px;
  top:131px;
  width:70px;
  height:42px;
}
#u18242 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18243 {
  position:absolute;
  left:199px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18244 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u18245 {
  position:absolute;
  left:157px;
  top:120px;
  width:1px;
  height:63px;
}
#u18246 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18247 {
  position:absolute;
  left:343px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18248 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18249 {
  position:absolute;
  left:485px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18250 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18251 {
  position:absolute;
  left:628px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18252 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18253 {
  position:absolute;
  left:775px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18254 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18255 {
  position:absolute;
  left:50px;
  top:183px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18256 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:585px;
}
#u18257 {
  position:absolute;
  left:179px;
  top:183px;
  width:1px;
  height:584px;
}
#u18258 {
  position:absolute;
  left:2px;
  top:284px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18259 {
  position:absolute;
  left:50px;
  top:232px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18260 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18261 {
  position:absolute;
  left:50px;
  top:281px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18262 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18263 {
  position:absolute;
  left:511px;
  top:233px;
  width:34px;
  height:16px;
}
#u18264 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u18265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18265 {
  position:absolute;
  left:511px;
  top:273px;
  width:48px;
  height:16px;
}
#u18266 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u18267 {
  position:absolute;
  left:594px;
  top:229px;
  width:300px;
  height:25px;
}
#u18267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18267_input {
  font-family:'应用字体';
}
#u18268 {
  position:absolute;
  left:594px;
  top:269px;
  width:300px;
  height:25px;
}
#u18268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18268_input {
  font-family:'应用字体';
}
#u18269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18269 {
  position:absolute;
  left:564px;
  top:621px;
  width:300px;
  height:40px;
}
#u18270 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u18271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18271 {
  position:absolute;
  left:511px;
  top:315px;
  width:57px;
  height:16px;
}
#u18272 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18273 {
  position:absolute;
  left:594px;
  top:311px;
  width:300px;
  height:25px;
}
#u18273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18273_input {
  font-family:'应用字体';
}
#u18274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18274 {
  position:absolute;
  left:511px;
  top:361px;
  width:29px;
  height:16px;
}
#u18275 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18276 {
  position:absolute;
  left:594px;
  top:361px;
  width:100px;
  height:16px;
}
#u18277 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18276_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18278 {
  position:absolute;
  left:694px;
  top:361px;
  width:100px;
  height:16px;
}
#u18279 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18278_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18280 {
  position:absolute;
  left:511px;
  top:399px;
  width:29px;
  height:16px;
}
#u18281 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18283 {
  position:absolute;
  left:594px;
  top:396px;
  width:62px;
  height:22px;
}
#u18283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18283_input {
  font-family:'应用字体';
}
#u18283_input:disabled {
  color:grayText;
}
#u18284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18284 {
  position:absolute;
  left:664px;
  top:399px;
  width:15px;
  height:16px;
}
#u18285 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u18286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18287 {
  position:absolute;
  left:689px;
  top:396px;
  width:62px;
  height:22px;
}
#u18287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18287_input {
  font-family:'应用字体';
}
#u18287_input:disabled {
  color:grayText;
}
#u18288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18288 {
  position:absolute;
  left:759px;
  top:399px;
  width:15px;
  height:16px;
}
#u18289 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u18290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18291 {
  position:absolute;
  left:784px;
  top:396px;
  width:62px;
  height:22px;
}
#u18291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18291_input {
  font-family:'应用字体';
}
#u18291_input:disabled {
  color:grayText;
}
#u18292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18292 {
  position:absolute;
  left:854px;
  top:399px;
  width:33px;
  height:16px;
}
#u18293 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18295 {
  position:absolute;
  left:594px;
  top:434px;
  width:300px;
  height:25px;
}
#u18295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18295_input {
  font-family:'应用字体';
}
#u18296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u18296 {
  position:absolute;
  left:865px;
  top:443px;
  width:29px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u18297 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18298 {
  position:absolute;
  left:511px;
  top:512px;
  width:29px;
  height:16px;
}
#u18299 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18300 {
  position:absolute;
  left:594px;
  top:508px;
  width:300px;
  height:25px;
}
#u18300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18300_input {
  font-family:'应用字体';
}
#u18301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18301 {
  position:absolute;
  left:465px;
  top:199px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18302 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18303 {
  position:absolute;
  left:465px;
  top:469px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18304 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u18305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18305 {
  position:absolute;
  left:511px;
  top:557px;
  width:29px;
  height:16px;
}
#u18306 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18307 {
  position:absolute;
  left:594px;
  top:552px;
  width:300px;
  height:25px;
}
#u18307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18307_input {
  font-family:'应用字体';
}
