body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1756 {
  position:absolute;
  left:50px;
  top:120px;
  width:655px;
  height:160px;
}
#u1757 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  white-space:nowrap;
}
#u1758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u1760 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1761 {
  position:absolute;
  left:30px;
  top:24px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
