body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11247 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u11248 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u11249 {
  position:absolute;
  left:30px;
  top:24px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u11250 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11251 {
  position:absolute;
  left:50px;
  top:120px;
  width:1024px;
  height:768px;
}
#u11252 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11253 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:300px;
}
#u11254 {
  position:absolute;
  left:2px;
  top:142px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11255 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11256 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u11257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11257 {
  position:absolute;
  left:50px;
  top:154px;
  width:150px;
  height:35px;
}
#u11258 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u11259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u11259 {
  position:absolute;
  left:199px;
  top:120px;
  width:1px;
  height:768px;
}
#u11260 {
  position:absolute;
  left:2px;
  top:376px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11261 {
  position:absolute;
  left:50px;
  top:188px;
  width:150px;
  height:35px;
}
#u11262 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u11263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11263 {
  position:absolute;
  left:50px;
  top:222px;
  width:150px;
  height:35px;
}
#u11264 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u11265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11265 {
  position:absolute;
  left:50px;
  top:256px;
  width:150px;
  height:35px;
}
#u11266 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u11267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:2px;
}
#u11267 {
  position:absolute;
  left:200px;
  top:164px;
  width:874px;
  height:1px;
}
#u11268 {
  position:absolute;
  left:2px;
  top:-8px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11269 {
  position:absolute;
  left:215px;
  top:133px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11270 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u11271 {
  position:absolute;
  left:1117px;
  top:210px;
  width:463px;
  height:80px;
  color:#660000;
}
#u11272 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u11273_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:341px;
  height:21px;
}
#u11273p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:333px;
  height:1px;
}
#u11273p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:344px;
  height:22px;
}
#u11273p001 {
  position:absolute;
  left:318px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11273p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u11273.compound {
  width:0px;
  height:0px;
}
#u11273 {
  position:absolute;
  left:789px;
  top:251px;
  width:331px;
  height:1px;
}
#u11274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11275 {
  position:absolute;
  left:50px;
  top:290px;
  width:150px;
  height:35px;
}
#u11276 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u11277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11279 {
  position:absolute;
  left:421px;
  top:232px;
  width:71px;
  height:16px;
  text-align:right;
}
#u11280 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u11281 {
  position:absolute;
  left:559px;
  top:227px;
  width:61px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u11282 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11283 {
  position:absolute;
  left:500px;
  top:232px;
  width:53px;
  height:16px;
}
#u11284 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11285 {
  position:absolute;
  left:627px;
  top:232px;
  width:53px;
  height:16px;
}
#u11286 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u11287 {
  position:absolute;
  left:684px;
  top:227px;
  width:61px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u11288 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11289 {
  position:absolute;
  left:752px;
  top:232px;
  width:27px;
  height:16px;
}
#u11290 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11291 {
  position:absolute;
  left:970px;
  top:128px;
  width:80px;
  height:30px;
}
#u11292 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u11293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11294 {
  position:absolute;
  left:421px;
  top:274px;
  width:71px;
  height:16px;
  text-align:right;
}
#u11295 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u11297 {
  position:absolute;
  left:533px;
  top:269px;
  width:61px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u11298 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u11299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11299 {
  position:absolute;
  left:500px;
  top:274px;
  width:27px;
  height:16px;
  text-align:right;
}
#u11300 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11301 {
  position:absolute;
  left:601px;
  top:274px;
  width:79px;
  height:16px;
}
#u11302 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
