body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18308 {
  position:absolute;
  left:50px;
  top:120px;
  width:1152px;
  height:647px;
}
#u18309 {
  position:absolute;
  left:2px;
  top:316px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u18310 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u18311 {
  position:absolute;
  left:2px;
  top:27px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18312 {
  position:absolute;
  left:20px;
  top:20px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18313 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u18314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18314 {
  position:absolute;
  left:50px;
  top:822px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u18315 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u18316 {
  position:absolute;
  left:80px;
  top:824px;
  width:310px;
  height:16px;
  color:#660000;
}
#u18317 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u18318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18318 {
  position:absolute;
  left:50px;
  top:852px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u18319 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u18320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u18320 {
  position:absolute;
  left:80px;
  top:854px;
  width:281px;
  height:16px;
  color:#660000;
}
#u18321 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u18322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1153px;
  height:2px;
}
#u18322 {
  position:absolute;
  left:50px;
  top:183px;
  width:1152px;
  height:1px;
}
#u18323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u18324 {
  position:absolute;
  left:69px;
  top:131px;
  width:70px;
  height:42px;
}
#u18325 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18326 {
  position:absolute;
  left:199px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18327 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u18328 {
  position:absolute;
  left:157px;
  top:120px;
  width:1px;
  height:63px;
}
#u18329 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18330 {
  position:absolute;
  left:343px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18331 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18332 {
  position:absolute;
  left:485px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18333 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18334 {
  position:absolute;
  left:628px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18335 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18336 {
  position:absolute;
  left:775px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18337 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18338 {
  position:absolute;
  left:50px;
  top:183px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18339 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:585px;
}
#u18340 {
  position:absolute;
  left:179px;
  top:183px;
  width:1px;
  height:584px;
}
#u18341 {
  position:absolute;
  left:2px;
  top:284px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18342 {
  position:absolute;
  left:50px;
  top:232px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18343 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18344 {
  position:absolute;
  left:50px;
  top:281px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18345 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18346 {
  position:absolute;
  left:450px;
  top:221px;
  width:29px;
  height:16px;
}
#u18347 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18348 {
  position:absolute;
  left:450px;
  top:301px;
  width:57px;
  height:16px;
}
#u18349 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18350 {
  position:absolute;
  left:533px;
  top:217px;
  width:300px;
  height:25px;
}
#u18350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18350_input {
  font-family:'应用字体';
}
#u18351 {
  position:absolute;
  left:533px;
  top:297px;
  width:300px;
  height:25px;
}
#u18351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18351_input {
  font-family:'应用字体';
}
#u18352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18352 {
  position:absolute;
  left:503px;
  top:466px;
  width:99px;
  height:40px;
  opacity:0.7;
}
#u18353 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u18354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18354 {
  position:absolute;
  left:852px;
  top:214px;
  width:50px;
  height:30px;
}
#u18355 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18356 {
  position:absolute;
  left:450px;
  top:343px;
  width:57px;
  height:16px;
}
#u18357 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18358 {
  position:absolute;
  left:533px;
  top:339px;
  width:300px;
  height:25px;
}
#u18358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18358_input {
  font-family:'应用字体';
}
#u18359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18359 {
  position:absolute;
  left:450px;
  top:427px;
  width:57px;
  height:16px;
}
#u18360 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18361 {
  position:absolute;
  left:533px;
  top:423px;
  width:300px;
  height:25px;
}
#u18361_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u18361_input {
  font-family:'应用字体';
}
#u18362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18362 {
  position:absolute;
  left:450px;
  top:385px;
  width:57px;
  height:16px;
}
#u18363 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18364 {
  position:absolute;
  left:533px;
  top:381px;
  width:300px;
  height:25px;
}
#u18364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18364_input {
  font-family:'应用字体';
}
#u18365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18365 {
  position:absolute;
  left:652px;
  top:466px;
  width:250px;
  height:40px;
}
#u18366 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u18367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18367 {
  position:absolute;
  left:450px;
  top:262px;
  width:57px;
  height:16px;
}
#u18368 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18369 {
  position:absolute;
  left:533px;
  top:258px;
  width:300px;
  height:25px;
}
#u18369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18369_input {
  font-family:'应用字体';
}
#u18370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18370 {
  position:absolute;
  left:798px;
  top:476px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u18371 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
