body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u18912 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u18913 {
  position:absolute;
  left:2px;
  top:27px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18914 {
  position:absolute;
  left:20px;
  top:20px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18915 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u18916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18916 {
  position:absolute;
  left:50px;
  top:843px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u18917 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u18918 {
  position:absolute;
  left:80px;
  top:845px;
  width:310px;
  height:16px;
  color:#660000;
}
#u18919 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u18920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18920 {
  position:absolute;
  left:50px;
  top:120px;
  width:1152px;
  height:647px;
}
#u18921 {
  position:absolute;
  left:2px;
  top:316px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1153px;
  height:2px;
}
#u18922 {
  position:absolute;
  left:50px;
  top:183px;
  width:1152px;
  height:1px;
}
#u18923 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u18924 {
  position:absolute;
  left:69px;
  top:131px;
  width:70px;
  height:42px;
}
#u18925 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18926 {
  position:absolute;
  left:199px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18927 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u18928 {
  position:absolute;
  left:157px;
  top:120px;
  width:1px;
  height:63px;
}
#u18929 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18930 {
  position:absolute;
  left:343px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18931 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18932 {
  position:absolute;
  left:485px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18933 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18934 {
  position:absolute;
  left:628px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18935 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u18936 {
  position:absolute;
  left:775px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18937 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18938 {
  position:absolute;
  left:50px;
  top:183px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18939 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:585px;
}
#u18940 {
  position:absolute;
  left:179px;
  top:183px;
  width:1px;
  height:584px;
}
#u18941 {
  position:absolute;
  left:2px;
  top:284px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18942 {
  position:absolute;
  left:50px;
  top:232px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18943 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18944 {
  position:absolute;
  left:50px;
  top:281px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u18945 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u18946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:2px;
}
#u18946 {
  position:absolute;
  left:180px;
  top:244px;
  width:1022px;
  height:1px;
}
#u18947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18948 {
  position:absolute;
  left:209px;
  top:206px;
  width:57px;
  height:16px;
}
#u18949 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18951 {
  position:absolute;
  left:296px;
  top:294px;
  width:240px;
  height:191px;
}
#u18952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u18952 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u18953 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u18954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u18954 {
  position:absolute;
  left:45px;
  top:0px;
  width:107px;
  height:30px;
}
#u18955 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u18956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18956 {
  position:absolute;
  left:152px;
  top:0px;
  width:83px;
  height:30px;
}
#u18957 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u18958 {
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:36px;
}
#u18959 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u18960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u18960 {
  position:absolute;
  left:45px;
  top:30px;
  width:107px;
  height:36px;
}
#u18961 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u18962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u18962 {
  position:absolute;
  left:152px;
  top:30px;
  width:83px;
  height:36px;
}
#u18963 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u18964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u18964 {
  position:absolute;
  left:0px;
  top:66px;
  width:45px;
  height:30px;
}
#u18965 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u18966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u18966 {
  position:absolute;
  left:45px;
  top:66px;
  width:107px;
  height:30px;
}
#u18967 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u18968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18968 {
  position:absolute;
  left:152px;
  top:66px;
  width:83px;
  height:30px;
}
#u18969 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u18970 {
  position:absolute;
  left:0px;
  top:96px;
  width:45px;
  height:30px;
}
#u18971 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u18972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u18972 {
  position:absolute;
  left:45px;
  top:96px;
  width:107px;
  height:30px;
}
#u18973 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u18974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18974 {
  position:absolute;
  left:152px;
  top:96px;
  width:83px;
  height:30px;
}
#u18975 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u18976 {
  position:absolute;
  left:0px;
  top:126px;
  width:45px;
  height:30px;
}
#u18977 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u18978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u18978 {
  position:absolute;
  left:45px;
  top:126px;
  width:107px;
  height:30px;
}
#u18979 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u18980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18980 {
  position:absolute;
  left:152px;
  top:126px;
  width:83px;
  height:30px;
}
#u18981 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u18982 {
  position:absolute;
  left:0px;
  top:156px;
  width:45px;
  height:30px;
}
#u18983 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u18984 {
  position:absolute;
  left:45px;
  top:156px;
  width:107px;
  height:30px;
}
#u18985 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18986 {
  position:absolute;
  left:152px;
  top:156px;
  width:83px;
  height:30px;
}
#u18987 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18988 {
  position:absolute;
  left:296px;
  top:450px;
  width:153px;
  height:30px;
}
#u18989 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u18990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18991 {
  position:absolute;
  left:276px;
  top:202px;
  width:69px;
  height:25px;
}
#u18991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18991_input {
  font-family:'应用字体';
}
#u18992 {
  position:absolute;
  left:379px;
  top:202px;
  width:69px;
  height:25px;
}
#u18992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18992_input {
  font-family:'应用字体';
}
#u18993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u18993 {
  position:absolute;
  left:345px;
  top:214px;
  width:34px;
  height:1px;
}
#u18994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:2px;
}
#u18995 {
  position:absolute;
  left:179px;
  top:715px;
  width:1022px;
  height:1px;
}
#u18996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18997 {
  position:absolute;
  left:199px;
  top:733px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18998 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u18999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18999 {
  position:absolute;
  left:348px;
  top:731px;
  width:163px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19000 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u19001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19001 {
  position:absolute;
  left:573px;
  top:733px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19002 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u19003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19003 {
  position:absolute;
  left:719px;
  top:731px;
  width:163px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19004 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u19005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19005 {
  position:absolute;
  left:1127px;
  top:723px;
  width:53px;
  height:40px;
}
#u19006 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u19007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u19007 {
  position:absolute;
  left:475px;
  top:207px;
  width:29px;
  height:16px;
  color:#169BD5;
}
#u19008 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u19009 {
  position:absolute;
  left:526px;
  top:207px;
  width:29px;
  height:16px;
  color:#169BD5;
}
#u19010 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u19011 {
  position:absolute;
  left:580px;
  top:207px;
  width:37px;
  height:16px;
  color:#169BD5;
}
#u19012 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19013 {
  position:absolute;
  left:217px;
  top:263px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19014 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19015 {
  position:absolute;
  left:659px;
  top:263px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19016 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19018 {
  position:absolute;
  left:694px;
  top:294px;
  width:240px;
  height:161px;
}
#u19019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u19019 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u19020 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u19021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u19021 {
  position:absolute;
  left:45px;
  top:0px;
  width:107px;
  height:30px;
}
#u19022 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u19023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u19023 {
  position:absolute;
  left:152px;
  top:0px;
  width:83px;
  height:30px;
}
#u19024 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u19025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u19025 {
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:36px;
}
#u19026 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u19027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u19027 {
  position:absolute;
  left:45px;
  top:30px;
  width:107px;
  height:36px;
}
#u19028 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u19029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u19029 {
  position:absolute;
  left:152px;
  top:30px;
  width:83px;
  height:36px;
}
#u19030 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u19031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u19031 {
  position:absolute;
  left:0px;
  top:66px;
  width:45px;
  height:30px;
}
#u19032 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u19033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u19033 {
  position:absolute;
  left:45px;
  top:66px;
  width:107px;
  height:30px;
}
#u19034 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u19035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u19035 {
  position:absolute;
  left:152px;
  top:66px;
  width:83px;
  height:30px;
}
#u19036 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u19037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u19037 {
  position:absolute;
  left:0px;
  top:96px;
  width:45px;
  height:30px;
}
#u19038 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u19039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u19039 {
  position:absolute;
  left:45px;
  top:96px;
  width:107px;
  height:30px;
}
#u19040 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u19041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u19041 {
  position:absolute;
  left:152px;
  top:96px;
  width:83px;
  height:30px;
}
#u19042 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u19043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u19043 {
  position:absolute;
  left:0px;
  top:126px;
  width:45px;
  height:30px;
}
#u19044 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u19045 {
  position:absolute;
  left:45px;
  top:126px;
  width:107px;
  height:30px;
}
#u19046 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u19047 {
  position:absolute;
  left:152px;
  top:126px;
  width:83px;
  height:30px;
}
#u19048 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u19049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19049 {
  position:absolute;
  left:694px;
  top:420px;
  width:153px;
  height:30px;
}
#u19050 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
