body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16668 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u16669 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u16670 {
  position:absolute;
  left:30px;
  top:24px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u16671 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16672 {
  position:absolute;
  left:50px;
  top:120px;
  width:1024px;
  height:768px;
}
#u16673 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16674 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:300px;
}
#u16675 {
  position:absolute;
  left:2px;
  top:142px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16676 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16677 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u16678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16678 {
  position:absolute;
  left:50px;
  top:154px;
  width:150px;
  height:35px;
}
#u16679 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u16680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u16680 {
  position:absolute;
  left:199px;
  top:120px;
  width:1px;
  height:768px;
}
#u16681 {
  position:absolute;
  left:2px;
  top:376px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16682 {
  position:absolute;
  left:50px;
  top:188px;
  width:150px;
  height:35px;
}
#u16683 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u16684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16684 {
  position:absolute;
  left:50px;
  top:222px;
  width:150px;
  height:35px;
}
#u16685 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u16686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16686 {
  position:absolute;
  left:50px;
  top:256px;
  width:150px;
  height:35px;
}
#u16687 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u16688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16688 {
  position:absolute;
  left:50px;
  top:290px;
  width:150px;
  height:35px;
}
#u16689 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u16690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16690 {
  position:absolute;
  left:574px;
  top:830px;
  width:100px;
  height:30px;
}
#u16691 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16692 {
  position:absolute;
  left:700px;
  top:830px;
  width:100px;
  height:30px;
}
#u16693 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:2px;
}
#u16694 {
  position:absolute;
  left:200px;
  top:165px;
  width:874px;
  height:1px;
}
#u16695 {
  position:absolute;
  left:2px;
  top:-8px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16696 {
  position:absolute;
  left:215px;
  top:133px;
  width:173px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16697 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u16698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16698 {
  position:absolute;
  left:408px;
  top:204px;
  width:58px;
  height:16px;
  text-align:right;
}
#u16699 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u16700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16701 {
  position:absolute;
  left:469px;
  top:200px;
  width:320px;
  height:25px;
}
#u16701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16701_input {
  font-family:'应用字体';
}
#u16702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16702 {
  position:absolute;
  left:765px;
  top:211px;
  width:22px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16703 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16704 {
  position:absolute;
  left:230px;
  top:174px;
  width:97px;
  height:16px;
}
#u16705 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16706 {
  position:absolute;
  left:408px;
  top:247px;
  width:58px;
  height:16px;
  text-align:right;
}
#u16707 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u16708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16709 {
  position:absolute;
  left:469px;
  top:243px;
  width:320px;
  height:25px;
}
#u16709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16709_input {
  font-family:'应用字体';
}
#u16710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16710 {
  position:absolute;
  left:771px;
  top:254px;
  width:16px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16711 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u16712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u16712 {
  position:absolute;
  left:1126px;
  top:316px;
  width:99px;
  height:16px;
  color:#660000;
}
#u16713 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u16714_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:375px;
  height:21px;
}
#u16714p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:367px;
  height:1px;
}
#u16714p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:378px;
  height:22px;
}
#u16714p001 {
  position:absolute;
  left:352px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16714p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u16714.compound {
  width:0px;
  height:0px;
}
#u16714 {
  position:absolute;
  left:761px;
  top:324px;
  width:365px;
  height:1px;
}
#u16715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u16716 {
  position:absolute;
  left:1126px;
  top:133px;
  width:355px;
  height:16px;
  color:#660000;
}
#u16717 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  white-space:nowrap;
}
#u16718_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:748px;
  height:21px;
}
#u16718p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:740px;
  height:1px;
}
#u16718p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:752px;
  height:22px;
}
#u16718p001 {
  position:absolute;
  left:725px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16718p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u16718.compound {
  width:0px;
  height:0px;
}
#u16718 {
  position:absolute;
  left:388px;
  top:141px;
  width:738px;
  height:1px;
}
#u16719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:734px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16720 {
  position:absolute;
  left:421px;
  top:294px;
  width:45px;
  height:16px;
  text-align:right;
}
#u16721 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u16722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16723 {
  position:absolute;
  left:469px;
  top:290px;
  width:320px;
  height:25px;
}
#u16723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16723_input {
  font-family:'应用字体';
}
#u16724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16724 {
  position:absolute;
  left:767px;
  top:301px;
  width:21px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16725 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u16726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16727 {
  position:absolute;
  left:426px;
  top:333px;
  width:40px;
  height:16px;
  text-align:right;
}
#u16728 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16729 {
  position:absolute;
  left:470px;
  top:330px;
  width:74px;
  height:22px;
}
#u16729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16729_input {
  font-family:'应用字体';
}
#u16729_input:disabled {
  color:grayText;
}
#u16730 {
  position:absolute;
  left:562px;
  top:330px;
  width:74px;
  height:22px;
}
#u16730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16730_input {
  font-family:'应用字体';
}
#u16730_input:disabled {
  color:grayText;
}
#u16731 {
  position:absolute;
  left:654px;
  top:330px;
  width:74px;
  height:22px;
}
#u16731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16731_input {
  font-family:'应用字体';
}
#u16731_input:disabled {
  color:grayText;
}
#u16732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u16732 {
  position:absolute;
  left:470px;
  top:362px;
  width:320px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u16733 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u16734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u16734 {
  position:absolute;
  left:761px;
  top:373px;
  width:28px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u16735 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u16736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16736 {
  position:absolute;
  left:426px;
  top:409px;
  width:40px;
  height:16px;
  text-align:right;
}
#u16737 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16739 {
  position:absolute;
  left:469px;
  top:405px;
  width:320px;
  height:25px;
}
#u16739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16739_input {
  font-family:'应用字体';
}
#u16740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16740 {
  position:absolute;
  left:765px;
  top:417px;
  width:22px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16741 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16742 {
  position:absolute;
  left:524px;
  top:460px;
  width:100px;
  height:30px;
}
#u16743 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16744 {
  position:absolute;
  left:650px;
  top:460px;
  width:100px;
  height:30px;
}
#u16745 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
