body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u21685 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:70px;
}
#u21686 {
  position:absolute;
  left:2px;
  top:27px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21687 {
  position:absolute;
  left:20px;
  top:20px;
  width:197px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21688 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u21689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21689 {
  position:absolute;
  left:50px;
  top:843px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u21690 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u21691 {
  position:absolute;
  left:80px;
  top:845px;
  width:310px;
  height:16px;
  color:#660000;
}
#u21692 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u21693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21693 {
  position:absolute;
  left:50px;
  top:873px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u21694 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#660000;
}
#u21695 {
  position:absolute;
  left:80px;
  top:875px;
  width:305px;
  height:16px;
  color:#660000;
}
#u21696 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u21697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21697 {
  position:absolute;
  left:50px;
  top:120px;
  width:1152px;
  height:647px;
}
#u21698 {
  position:absolute;
  left:2px;
  top:316px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1153px;
  height:2px;
}
#u21699 {
  position:absolute;
  left:50px;
  top:183px;
  width:1152px;
  height:1px;
}
#u21700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u21701 {
  position:absolute;
  left:69px;
  top:131px;
  width:70px;
  height:42px;
}
#u21702 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u21703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u21703 {
  position:absolute;
  left:199px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21704 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:64px;
}
#u21705 {
  position:absolute;
  left:157px;
  top:120px;
  width:1px;
  height:63px;
}
#u21706 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u21707 {
  position:absolute;
  left:343px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21708 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u21709 {
  position:absolute;
  left:485px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21710 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u21711 {
  position:absolute;
  left:628px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21712 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u21713 {
  position:absolute;
  left:775px;
  top:131px;
  width:100px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21714 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21715 {
  position:absolute;
  left:50px;
  top:183px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u21716 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u21717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:585px;
}
#u21717 {
  position:absolute;
  left:179px;
  top:183px;
  width:1px;
  height:584px;
}
#u21718 {
  position:absolute;
  left:2px;
  top:284px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21719 {
  position:absolute;
  left:50px;
  top:232px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u21720 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u21721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21721 {
  position:absolute;
  left:50px;
  top:281px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u21722 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u21723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21723 {
  position:absolute;
  left:50px;
  top:330px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u21724 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u21725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21725 {
  position:absolute;
  left:50px;
  top:379px;
  width:130px;
  height:50px;
  font-size:20px;
}
#u21726 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u21727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:372px;
}
#u21727 {
  position:absolute;
  left:220px;
  top:214px;
  width:938px;
  height:372px;
}
#u21728 {
  position:absolute;
  left:2px;
  top:178px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21729 {
  position:absolute;
  left:615px;
  top:598px;
  width:140px;
  height:40px;
}
#u21730 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
