body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:80px;
}
#u928 {
  position:absolute;
  left:2px;
  top:32px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u929 {
  position:absolute;
  left:30px;
  top:24px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:20530px;
}
#u931 {
  position:absolute;
  left:50px;
  top:120px;
  width:1210px;
  height:20530px;
}
#u932 {
  position:absolute;
  left:2px;
  top:10257px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
